.page-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  font-family: "comic sans ms";
  text-align: center;
  color: #ff00fe;
  }

.menu-item {
  font-size: 28px;
  line-height: 32px;
  font-family: "comic sans ms";
  text-align: left;
  color: purple;
}

.button-back {
    position: absolute;
    bottom: 30px;
    left: 50%;
}


