{% extends 'menu.html' %}

{% block title %}<title>{{page_name}}</title>{% endblock %}

{% block additional_styles %}
	<style>
		body {background:url(/static/images/Sunset2.jpg) no-repeat center fixed;}
  	</style>
{% endblock %}

{% block page-title %}
	<p class="page-title">{{page_name}}</p>
{% endblock %}

{% block content %}
	{% if recipes %}
	<ul class="menu-item">
		{% for recipe in recipes %}
			<li> {{ recipe }}  <button>Посмотреть рецепт</button></li>
		{% endfor %}
	</ul>
	{% endif %}
	<button class="button-back" onclick="location.href = '/cookbook/'">Вернуться обратно</button>
{% endblock %}