<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Кулинарная книга</title>
		<link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
	</head>
	<body link="purple" style="background-image: url('/static/images/Sunset3.jpg')">
		<p class="page-title">Кулинарная книга</p>
		<ul class="menu-item">
			<li><a href="content/">Перейти к рецептам</a>
			<li><a href="about/">Пара слов об авторе</a>
			<li><a href="">На главную</a>
		</ul>
	</body>
</html>

